@import './buttons.scss';

@font-face {
  font-family: "BattleFont";
  src: url("../assets/fonts/battle.ttf");
}

body {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #fff;
  font-family: 'BattleFont';
}

:focus, :active {
  outline: 0;
  border: 0;
}

.gameboy {
  position: relative;
  top: -40px;

  .screen {
    position: absolute;
    top: 39px;
    left: 39px;
    width: 294px;
    height: 216px;
    display: flex;
    overflow: hidden;
    border-radius: 8px;

    canvas {
      margin: auto;
      background-color: #1a1a1a;
      background: red;
  
      image-rendering: -moz-crisp-edges;
      image-rendering: -webkit-crisp-edges;
      image-rendering: pixelated;
      z-index: 1;
    }

    .status-bar {
      display: flex;
      flex-flow: row nowrap;
      width: 100%;
      height: 10px;
      padding-top: 5px;
      background-color: #373831;
      z-index: 10;
      box-shadow: 0 0 2px rgba(0, 0, 0, .2);

      i {
        cursor: default;
        margin: 5px auto;
        font-size: 16px;
        color: #fff;
        opacity: .85;

        &.off {
          opacity: .2;
        }
      }
    }
  }

  img.main {
    height: 542px;
    width: 370px;
  }
}
