/* Buttons. */
button {
  position: absolute;
  border: none;
  outline: none;
  background-color: #000;
  opacity: 0;

  &:focus {
    opacity: .1;
    outline: none;
  }

  &:-moz-focus-inner {
    border: 0;
  }

  &:active {
    outline: none;
    opacity: .2;
  }
}

#button_a {
  top: 352px;
  left: 209px;
  height: 60px;
  width: 59px;
  border-radius: 50%;
}

#button_b {
  top: 310px;
  left: 280px;
  height: 60px;
  width: 59px;
  border-radius: 50%;
}

#button_left {
  top: 340px;
  left: 35px;
  height: 42px;
  width: 35px;
  border-radius: 6px 0 0 6px;
}

#button_right {
  top: 340px;
  left: 114px;
  height: 42px;
  width: 35px;
  border-radius: 0 6px 6px 0;
}

#button_up {
  top: 305px;
  left: 70px;
  height: 35px;
  width: 44px;
  border-radius: 6px 6px 0 0;
}

#button_down {
  top: 383px;
  left: 70px;
  height: 36px;
  width: 44px;
  border-radius: 0 0 6px 6px;
}
